# ── Entorno y secretos ─────────────────────────────────────
.env
*.env.local

# ── Python ─────────────────────────────────────────────────
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# ── Entorno virtual ─────────────────────────────────────────
venv/
.venv/
env/
ENV/

# ── IDEs ────────────────────────────────────────────────────
.vscode/
.idea/
*.code-workspace

# ── SO Windows ──────────────────────────────────────────────
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# ── Archivos temporales ──────────────────────────────────────
*.log
*.tmp
*.bak
*.swp
